body { 
    background-color: #993399;
    color: black;
}

h1 {
    background-color: rgb(241, 241, 47);
    color: black;
    text-align: center;}

h3 {
    background-color: rgb(241, 241, 47);
    color: black;
    text-align: center;
}